.levitation {
  animation: levitate 3s ease-in-out alternate infinite;
}

.navigate {
  animation: navigate 4s ease-in-out alternate infinite;
}
.pulse-levitation {
  animation: levitate 2s ease-in-out alternate infinite;
}

@keyframes levitate {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes levitate-pulse {
  from {
    opacity: 1;

    transform: translateY(0);
  }
  to {
    opacity: 0.6;
    transform: translateY(20px);
  }
}

@keyframes navigate {
  from {
    transform: initial;
  }
  to {
    transform: scale(110%) translate(20px, 10px);
  }
}
