@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "roboto", sans-serif;
}

.header-logo {
  background: url(/imgs/header-logo.svg) no-repeat;
}

.hero-bottom {
  background: url(/imgs/hero-bottom.svg) no-repeat;
}

.features-bg {
  background: url(/imgs/features-bg.svg) no-repeat;
}

.bg-radial {
  background: radial-gradient(closest-side, #ecf1ff, transparent);
}
